{% extends "layout/base.html" %}

{% block page_title %}
    A voté
{% endblock %}

{% block content %}

     <div style="height: calc(75vh)" class="d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="max-width-500 m-auto text-center p-3">
                    <div class="alert alert-info mb-0">
                        <div class="d-flex align-items-center justify-content-center">
                            <div>
                                <h4 class="mb-0">Votre participation à cette élection a déjà été enregistrée.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}