{% extends "layout/base.html" %}

{% block page_title %}
    Campagnes BDX
{% endblock %}

{% block content %}

    <div class="p-2 mt-2 container">
        <div class="card">
            <div class="card-body">
                <h2 class="header-2">Campagnes BDX {{ school_year }}/{{ school_year|add:1 }}</h2>
                {% if campaigns %}
                    {% if on_going_campaigns %}
                        <div class="mb-5">
                            <h3 class="header-2">Campagnes en cours</h3>
                            {% include "cla_bdx/public/campaign_list.html" with campaigns=on_going_campaigns %}
                        </div>
                        <h3 class="header-2">Les autres campagnes</h3>
                    {% endif %}
                    {% include "cla_bdx/public/campaign_list.html" with campaigns=campaigns exclude=on_going_campaigns %}

                    <p class="mt-5 text-center">
                        <a href="{% url "cla_bdx:last" %}">Accéder aux anciennes campagnes BDX</a>
                    </p>
                {% else %}
                    <div class="text-center">
                        <p class="lead">
                            Les dates des campagnes de cette année ne sont pas encore disponibles.
                        </p>
                        <p>
                            Pourquoi ne pas parcourir <a href="{% url "cla_bdx:last" %}">nos archives</a> en attendant ?
                        </p>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}