{% extends "layout/base.html" %}

{% block page_title %}
    Campagnes BDX
{% endblock %}

{% block content %}

    {% if campaign_regulation %}
        <div class="p-2 mt-2 container">
            <div class="card gradient-blue border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-center max-width-750 m-auto">
                        <div class="mr-5 d-sm-none">
                            <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                <i class="fas fa-file-certificate fa-5x"></i>
                            </div>
                        </div>
                        <div class="text-center">
                            <div>
                                <h2 class="fs-30px">Règlement des campagnes</h2>
                                <a target="_blank" href="{{ campaign_regulation.file.url }}" class="btn btn-outline-white">Découvrir l'édition {{ campaign_regulation.school_year }}/{{ campaign_regulation.school_year|add:1 }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="p-2 mt-2 container">
        <div class="card">
            <div class="card-body">
                <h2 class="header-2">Campagnes BDX {{ school_year }}/{{ school_year|add:1 }}</h2>
                {% if campaigns %}
                    {% if on_going_campaigns %}
                        <div class="mb-5">
                            <h3 class="header-2">Campagnes en cours</h3>
                            {% include "cla_bdx/public/campaign_list.html" with campaigns=on_going_campaigns %}
                        </div>
                        <h3 class="header-2">Les autres campagnes</h3>
                    {% endif %}
                    {% include "cla_bdx/public/campaign_list.html" with campaigns=campaigns exclude=on_going_campaigns %}

                    <p class="mt-5 text-center">
                        <a href="{% url "cla_bdx:last" %}">Accéder aux anciennes campagnes BDX</a>
                    </p>
                {% else %}
                    <div class="text-center">
                        <p class="lead">
                            Les dates des campagnes de cette année ne sont pas encore disponibles.
                        </p>
                        <p>
                            Pourquoi ne pas parcourir <a href="{% url "cla_bdx:last" %}">nos archives</a> en attendant ?
                        </p>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}