<div>
    <div style="max-width: 500px;">
        {% if campaign.vote %}
            <h3 style="margin-bottom: 1rem">Campagnes {{ campaign }}</h3>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th>Cursus</th>
                    <th>Participation</th>
                </tr>
                </thead>
                <tbody>
                {% for cursus, votes in campaign.vote.participation_stats.items %}
                    <tr>
                        <th>
                            {{ cursus }}
                        </th>
                        <td>
                            {{ votes }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <th>{{ campaign.vote.total_votes }}</th>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <div style="padding: 2rem; text-align: center; color: #454545">
                Aucun vote n'a été associé à cette campagne
            </div>
        {% endif %}
    </div>
</div>