{% extends "layout/base.html" %}

{% block page_title %}
    Vote fermé
{% endblock %}

{% block content %}

    <div style="height: calc(75vh)" class="d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="max-width-500 m-auto text-center p-3">
                    <p class="lead">
                        Ce vote est actuellement fermé
                    </p>
                    <p class="mb-0">
                        <a href="{% url 'cla_public:index' %}">Retour</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}